@page "/"

<PageTitle>Index</PageTitle>
@using Syncfusion.Blazor.Navigations

<SfTab>
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Tab1"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div>

                    <iframe width="560" height="315" src=https://blazor.net frameborder="0" allowfullscreen></iframe>

                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Tab2"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div>
                    <object data="https://www.youtube.com/embed/cQZYzOlTm0Q" width="400" height="300"></object>
                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Tab3"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div>
                    <embed type="text/html" src="https://www.google.com/webhp?igu=1" width="500" height="400">
                </div>
            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>